.content {
    background-color: #DBDBDBDF;
    margin-top: 15px;
    padding-top: 15px;
    box-shadow: 5px 5px 5px #666666;
}

.button-spacing {
    margin-top: 32px;
}

.button-spacing button {
    width: 100%;
}

.results-spacing {
    margin-top: 40px;
}

.image-container {
    min-height: 400px;
}

.footer-spacing {
    margin-bottom: 15px;
}