<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 offset-sm-3 content">
			<div class="row">
				<div class="col-sm-5 offset-sm-1">
					<div class="row">
						<div class="col-sm-6">
							<label for="location">Center Point</label>
							<input type="text" id="location" class="form-control" placeholder="Lat, Lng" [(ngModel)]="location">
							<label for="zoom">Zoom Level</label>
							<select class="form-control" [(ngModel)]="zoomLevel">
								<option *ngFor="let zoom of ' '.repeat(21).split(' '); let i = index" value="{{i}}">{{i}}</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label for="distanceInput">Distance (miles)</label>
							<input type="text" id="distanceInput" class="form-control" placeholder="Distance (miles)" [(ngModel)]="distance">
							<div class="row">
								<div class="col-sm-12 button-spacing">
									<button type="button" class="btn btn-primary" (click)="generateSquare()">Calculate</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row results-spacing" *ngIf="imageUrl">
						<div class="col-sm-6">
							<span>Top Left:</span>
							<br /><span>{{topLeft[0]}}, {{topLeft[1]}}</span>
						</div>
						<div class="col-sm-6">
							<span>Top Right:</span>
							<br /><span>{{topRight[0]}}, {{topRight[1]}}</span>
						</div>
					</div>
					<div class="row results-spacing" *ngIf="imageUrl">
						<div class="col-sm-6">
							<span>Bottom Left:</span>
							<br /><span>{{bottomLeft[0]}}, {{bottomLeft[1]}}</span>
						</div>
						<div class="col-sm-6">
							<span>Bottom Right:</span>
							<br /><span>{{bottomRight[0]}}, {{bottomRight[1]}}</span>
						</div>
					</div>
				</div>
				<div class="col-sm-5 text-center image-container">
					<span *ngIf="imageUrl"><img src="{{imageUrl}}"></span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-10 offset-sm-1 footer-spacing">
					Formulae for this application were found <a href="https://www.movable-type.co.uk/scripts/latlong.html">here</a>.  Gitlab repository for this application can be found <a href="https://gitlab.com/DrProfHazzmatt/google-map-square">here</a>.
				</div>
			</div>
		</div>
	</div>
</div>